<div id="video-player-controls" class="text-center">
    <!-- CLIP BUTTON -->
    <button
      id="video-player-slice-button"
      class="pure-button {{if slicing 'pure-button-active active'}} square-edges"
      {{action "slice" videoCurrentTime}}
      disabled={{disableButton}}
    >
      {{fa-icon "scissors"}}
      {{#if slicing}}
        Clipping
      {{else}}
        Clip
      {{/if}}
    </button>

    <!-- CLIP (slice) PANEL -->
    <div id="video-player-slice-panel">
      {{#unless project.slices}}
        <p>Video clips will show up here.</p>
      {{/unless}}
      {{#each project.slices as |slice|}}
        {{video-slice
          videoLength=project.videoLength
          activeSlice=project.activeSlice
          slice=slice
          slicing=slicing
          currentTime=videoCurrentTime
          toggleActive="updateActiveSlice"
          delete="deleteSlice"
        }}
      {{/each}}
    </div>
</div>
