<div class="video-player-slice-parent">
  <div class="video-player-slice-wrapper">
    <div class="video-player-slice-controls left">
      <a
        class="video-player-slice-delete"
        href="#"
        {{action "delete" slice}}
      >
        {{fa-icon "trash"}}
      </a>
    </div>
    <!-- This is the slice itself -->
    <div
      {{action "toggleActive" slice}}
      class="video-player-slice
        {{if active 'active'}}"
      style={{style}}
      title="Click to start/stop playing this clip on repeat."
      >
      <div class="video-player-slice-adjuster left" title="Click & drag to adjust size.">
      </div>
      {{#if active}}
        <div
          id="video-player-slice-progress-indicator"
          style={{indicatorPositionPercentage}}
        >
        </div>
      {{/if}}
      <div class="video-player-slice-adjuster right" title="Click & drag to adjust size.">
      </div>
    </div>

  </div>
</div>
