<div id="video-slicer">
  <div id="video-slicer-top">
    <div class="force-width center">
      <!-- VIDEO INPUT -->
      {{video-player-url-input
        project=activeProject
        action="updateProjectInformation"}}
      {{#if activeProject}}
        <!-- CURRENT PROJECT INFORMATION (only show if there is an activeProject) -->
        {{project-information project=activeProject deleteProject="deleteProject"}}
      {{/if}}
      {{#if projects}}
        <!-- SAVED PROJECTS LIST (only show if there are saved projects)-->
        {{project-list projects=projects activeProject=activeProject setProject="setActiveProject"}}
      {{/if}}
    </div>
  </div>
  <!-- VIDEO PLAYER -->
  <div id="video-slicer-center">
    <div class="force-width center">
      {{video-player
        project=activeProject
        currentTime=videoPlayerCurrentTime
      }}
    </div>
  </div>
  <div id="video-slicer-bottom">
    <div class="force-width center">
      <!-- SLICING CONTROLS -->
      {{video-player-controls
        project=activeProject
        videoCurrentTime=videoPlayerCurrentTime
        slice="createAndActivateSlice"
      }}
    </div>
  </div>
</div>
