<div class="video-player-slice-parent">
  <div class="video-player-slice-wrapper">
    <div class="video-player-slice-controls left">
      <a
        class="video-player-slice-delete"
        href="#"
        {{action "delete" slice}}
      >
        {{fa-icon "trash"}}
      </a>
    </div>
    <!-- This is the slice itself -->
    <div
      class="video-player-slice
        {{if active 'active'}}"
      style={{style}}
      title="Click to start/stop playing this clip on repeat."
      >
      {{slice-adjuster side="left" updateSize="adjustSize" saveSlice="save" mouseX=mouseAbsoluteX}}
        <div {{action "toggleActive" slice}} class="video-player-slice-action">
        {{#if active}}
          <div
            id="video-player-slice-progress-indicator"
            style={{indicatorPositionPercentage}}
          >
          </div>
        {{/if}}
        </div>
      {{slice-adjuster side="right" updateSize="adjustSize" saveSlice="save" mouseX=mouseAbsoluteX}}
    </div>

  </div>
</div>
