<!-- URL input - Displays an input for users to enter a YouTube video -->
{{video-player-url-input videoId=videoId}}
<!-- Video player - Displays youtube video player and controls -->
<div id="video-player">
  <div id="video-player-controls">
    {{youtubePlayer.endSeconds}}
      <button id="video-player-slice-button"
        {{action "sliceAction" youtubePlayer.currentTime}}>
        {{#if slicing}}
          {{fa-icon "stop"}} Stop Slicing
        {{else}}
          {{fa-icon "circle"}} Start Slicing
        {{/if}}
      </button>
      <br>
      <button>
        {{fa-icon "step-backward"}}
      </button>
      <button {{action "togglePlay" target=youtubePlayer}}>
          {{#if youtubePlayer.isPlaying}}
            {{fa-icon "pause"}}
          {{else}}
            {{fa-icon "play"}}
          {{/if}}
      </button>
      <button>
        {{fa-icon "step-forward"}}
      </button>
  </div>
  {{youtubePlayer.currentTimeFormatted}}
  {{ember-youtube
    ytid=videoId
    playerVars=playerVars
    delegate=this
    delegate-as="youtubePlayer"
  }}
</div>
<!-- Slice panel - Displays all video slices  -->
<div id="video-player-slice-panel">
  {{#unless slices}}
    Slices will show up here
  {{/unless}}
  {{#each slices as |slice|}}
    <div class="video-player-slice-wrapper">
      <div
        {{action "togglePlaySliceAction" slice}}
        class="video-player-slice
          {{if (eq slice currentSlice) 'active'}}"
        style={{slice.style}}>
        {{#if (and playingSlice (eq slice currentSlice))}}
        <div id="video-player-slice-progress-indicator"
          style="left:{{slice.indicatorPositionPercentage}}%"
        >
        </div>
        {{/if}}
      </div>
    </div>
  {{/each}}
</div>
