<div class="pure-g">
  <!-- LEFT COLUMN -->
  <div class="pure-u-1-5">
    <div id="project-list-container">
    </div>
  </div>
  <!-- CENTER COLUMN -->
  <div class="pure-u-3-5">
    <div id="video-player-container">
      <!-- URL input - Displays an input for users to enter a YouTube video -->
      {{video-player-url-input videoId=videoId project=project}}
      <!-- Video player - Displays youtube video player and controls -->
      <div id="video-player" class="text-center">
        {{ember-youtube
          ytid=videoId
          playerVars=playerVars
          delegate=this
          delegate-as="youtubePlayer"
        }}
      </div>
      <div id="video-player-controls" class="text-center center">
          <button
            id="video-player-slice-button"
            class="pure-button {{if (eq mode SLICING) 'pure-button-active'}}"
            {{action "toggleSliceAction" youtubePlayer.currentTime}}
          >
            {{fa-icon "circle"}}
            {{#if (eq mode SLICING)}}
              Finish
            {{else}}
              Record
            {{/if}}
          </button>
      </div>
      <!-- Slice panel - Displays all video slices  -->
      <div id="video-player-slice-panel" class="center">
        {{#unless project.slices}}
          <strong>Clips will show up here</strong>
        {{/unless}}
        {{#each project.slices as |slice|}}
          <div class="video-player-slice-wrapper">
            <div class="video-player-slice-delete-wrapper">
              <a
                class="video-player-slice-delete"
                href="#"
                {{action "deleteSliceAction" slice}}
              >
                {{fa-icon "trash"}}
              </a>
            </div>
            {{video-slice
              videoLength=project.videoLength
              slice=slice
              currentSlice=currentSlice
              currentTime=youtubePlayer.currentTime
              play="togglePlaySliceAction"}}
          </div>
        {{/each}}
      </div>
    </div>
  </div>

  <!-- RIGHT COLUMN -->
  <div class="pure-u-1-5">

  </div>

</div>
