<div id="video-player-slice-panel">
  {{#each slices as |slice|}}
    <div class="video-player-slice">
      <div {{action "expandLeft"}} ></div>
      <div {{action "move"}} class="video-player-slice-grab no-select" >
        {{format-number slice.[0]}} - {{format-number slice.[1]}}
      </div>
      <div {{action "expandRight"}} ></div>
    </div>
  {{/each}}
</div>
